PORT=3000
NODE_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017/bloodlink

JWT_SECRET=bloodlink_super_secret_2024_changeme

ADMIN_SECRET=admin123

# Gmail - add yours to enable emails
EMAIL_USER=sjena6401@gmail.com
EMAIL_PASS=vxnemeetfuvhrhpw
# Twilio - add yours to enable SMS
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_token
TWILIO_PHONE=your_twilio_phone